/* messages.css */

.messages-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  overflow-y: auto; /* Apply overflow-y directly to message-card */
  width: 600px; /* Set a specific width */
  max-height: 400px; /* Set a maximum height */
  background-color: rgba(50, 50, 50, 0.8);
}

.messages-container {
  /* Remove overflow-y from here */
  margin-top: 10px;
}

.input-bar {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-top: 10px;
}

.conversation-buttons {
  display: flex;
  margin-top: 10px;
}

.conversation-buttons button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.conversation-buttons button:hover {
  background-color: #45a049;
}