* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

button {
    margin-top: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}



.chat-display {
    background-color: rgba(51, 51, 51, 0.75);
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: rgb(11, 73, 15);
}

.post__header--reply {
    background-color: rgb(0, 11, 128);
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}


#logout-button {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    border: none;
    color: white;
    padding: 10px 20px; /* Adjusted padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjusted font size */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }

    
  #logout-button:hover {
    background: linear-gradient(to right, #ff5e62, #ff9966);
    color: white;
  }
  

  footer {
    background-color: rgba(139, 0, 0, .75);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: auto;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  select, input[type="text"], input[type="time"] {
    width: calc(100% - 100px);
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  header {
    background-color: rgba(139, 0, 0, .75);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    height: 50px;
  }